.chat-balloon {
    padding: 24px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 14px;
}

.chat-balloon .chat-balloon__header {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.chat-balloon .chat-balloon__body {
    font-size: 14px;
    line-height: 1.5;
}

/* CARET */
.chat-balloon::before,
.chat-balloon::after {
    content: '';
    position: absolute;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent;
}

/* CARET - BACKGROUND */
.chat-balloon::before {
    top: 32px;
}

/* CARET - FOREGROUND */
.chat-balloon::after {
    top: 30px;
}


/* STATES - CHAT BALLOON */
.chat-balloon.is-caret-left::before,
.chat-balloon.is-caret-left::after {
    left: -30px;
}

.chat-balloon.is-caret-left::before {
    border-right-color: rgba(0, 0, 0, .24);
}

.chat-balloon.is-caret-left::after {
    border-right-color:#fff;
}

.chat-balloon.is-caret-left.is-dark {
    background-color: #f4f4f4;
}

.chat-balloon.is-caret-left.is-darkbefore {
    border-right-color: rgba(0, 0, 0, .24);
}

.chat-balloon.is-caret-left.is-darkafter {
    border-right-color:#f4f4f4;
}

.chat-balloon.is-caret-right::before,
.chat-balloon.is-caret-right::after {
    right: -30px;
}

.chat-balloon.is-caret-right::before {
    border-left-color: rgba(0, 0, 0, .24);
}

.chat-balloon.is-caret-right::after {
    border-left-color:#fff;
}

.chat-balloon.is-caret-right.is-dark {
    background-color: #f4f4f4;
}

.chat-balloon.is-caret-right.is-dark::before {
    border-left-color: rgba(0, 0, 0, .24);
}

.chat-balloon.is-caret-right.is-dark::after {
    border-left-color:#f4f4f4;
}

