// COLORS PALETTE
$COLOR-GREEN-CONFETTI: #ded143;
$COLOR-GREEN-FERN: #72b469;
$COLOR-RED-AMARANTH: #ee3852;
$COLOR-RED-CARDINAL: #be1e5c;
$COLOR-YELLOW-TANGERINE: #ffca15;
$COLOR-ORANGE-SUNSHADE: #f89a42;
$COLOR-BLUE-PACIFIC: #00a6ba;
$COLOR-BLUE-VIKING: #52c6cb;
$COLOR-BLUE-DODGER: #1da1f2;
$COLOR-BLUE-SAN-MARINO: #4867aa;
$COLOR-WHITE: #ffffff;
$COLOR-BLACK: #000000;
$COLOR-GREY-DARK: #383838;
$COLOR-GREY: #c6c6c6;
$COLOR-GREY-LIGHTER: #f4f4f4;
$COLOR-GREY-LIGHTEST: #f6f7fb;


// COLORS BY CONTEXT
$COLOR-PRIMARY: $COLOR-BLUE-PACIFIC;
$COLOR-TEXT: $COLOR-GREY-DARK;
$COLOR-BORDER: $COLOR-GREY-LIGHTER;
$COLOR-BODY-BACKGROUND: $COLOR-GREY-LIGHTEST;
$COLOR-DEFAULT-BUTTON-BACKGROUND: $COLOR-GREY-LIGHTER;
$COLOR-TWITTER: $COLOR-BLUE-DODGER;
$COLOR-FACEBOOK: $COLOR-BLUE-SAN-MARINO;


// SPACINGS
$SPACING-HALF: 4px;
$SPACING-1: 8px;
$SPACING-2: 16px;
$SPACING-3: 24px;
$SPACING-4: 32px;
$SPACING-5: 40px;
$SPACING-6: 48px;
$SPACING-7: 56px;
$SPACING-8: 64px;
$SPACING-9: 72px;
$SPACING-10: 80px;


// SIZES
$BORDER-RADIUS: 5px;